{% extends 'templates/app.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				{% if old.id %}
				<div class="panel-heading">Modificar Marca</div>
				{% else %}
				<div class="panel-heading">Agregar Marca</div>
				{% endif %}
				<div class="panel-body">
					{% if old.id %}
					<form action="{{ path_for('almacen.marca.edit',{'id':old.id}) }}" method="post" autocomplete="off">
					{% else %}
					<form action="{{ path_for('almacen.marca')}}" method="post" autocomplete="off">
					{% endif %}
						<div class="form-group{{ errors.nombre ? ' has-error' : ''}}">
							<label for="nombre">Nombre</label>
							<input type="text" name="nombre" id="nombre" class="form-control" value="{{ old.nombre }}">
							{% if errors.nombre %}
								<span class="help-block">{{ errors.nombre | first }}</span>
							{% endif %}
						</div>

						<div class="form-group{{ errors.descripcion ? ' has-error' : ''}}">
							<label for="descripcion">Descripcion</label>
							<input type="text" name="descripcion" id="descripcion" class="form-control" value="{{ old.descripcion }}">
							{% if errors.descripcion %}
								<span class="help-block">{{ errors.descripcion | first }}</span>
							{% endif %}
						</div>

						{% if old.id %}
						<button type="submit" class="btn btn-default">Modificar</button>
						{% else %}
						<button type="submit" class="btn btn-default">Agregar</button>
						{% endif %}

						{{ csrf.field | raw }}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}